docker {
	enabled = true
	temp = 'auto'
	runOptions = '-u $(id -u):$(id -g)'
}


profiles {
    standard {
        process.executor	=	'local'
        process.cpus		=	8
        process.memory		=	'16 GB'
        process.queueSize   =   5
    }

    hpc {
        process.executor	=	'local'
        process.cpus		=	64
        process.memory		=	'128 GB'
        process.queueSize   =   20
    }
}


params {
    help                    =               false
    illuminaShotgun         =               null
    thread                  =               8

    fastpPhred              =               30
}